.group-child,
.p2p-sell-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1017px;
  height: 72px;
}
.group-child {
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gray-200);
  width: 135px;
  height: 43px;
}
.market {
  position: absolute;
  top: 8px;
  left: 25px;
  font-size: var(--font-size-xl);
  font-weight: 900;
  font-family: var(--font-roboto);
  color: var(--table-background);
  text-align: left;
  display: inline-block;
  width: 83.19px;
  height: 25.36px;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 14px;
  left: 297px;
  width: 135px;
  height: 43px;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl-5);
  background-color: var(--color-gray-300);
  width: 129px;
  height: 43px;
}
.p2p {
  position: absolute;
  top: 10px;
  left: 43px;
  font-weight: 900;
}
.group-inner,
.rectangle-group {
  position: absolute;
  top: 15px;
  left: 491px;
  width: 129px;
  height: 43px;
}
.group-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-2xl-5);
  background-color: var(--color-gray-400);
  width: 106px;
}
.logout {
  position: absolute;
  top: 8.39px;
  left: 22px;
  font-weight: 900;
  display: inline-block;
  width: 64px;
  height: 24.12px;
}
.rectangle-container {
  position: absolute;
  top: 14px;
  left: 886px;
  width: 106px;
  height: 43px;
  cursor: pointer;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl-5);
  background-color: var(--color-gray-500);
  width: 194px;
  height: 43px;
}
.dashboard {
  position: absolute;
  top: 8px;
  left: 11px;
  font-size: var(--font-size-xl);
  font-weight: 900;
  font-family: var(--font-roboto);
  color: var(--table-background);
  text-align: left;
  display: inline-block;
  width: 172.67px;
  height: 23px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 14px;
  left: 56px;
  width: 194px;
  height: 43px;
}
.buy {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 900;
  font-family: var(--font-roboto);
  color: var(--table-background);
  text-align: left;
}
.buy-wrapper,
.group-child1 {
  position: absolute;
  border-radius: var(--br-base);
}
.buy-wrapper {
  cursor: pointer;
  border: 0;
  padding: 6px 45px;
  background-color: var(--color-slateblue);
  top: 272px;
  left: 177px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-child1 {
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 207px;
  height: 58px;
}
.p2p1 {
  position: absolute;
  top: 12px;
  left: 71px;
  font-weight: 900;
  display: inline-block;
  width: 100px;
  height: 35px;
}
.group-div {
  position: absolute;
  top: 113px;
  left: 268px;
  width: 207px;
  height: 58px;
  font-size: var(--font-size-13xl);
  color: var(--color-yellow-100);
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl-5);
  background-color: #c2c2c5;
  width: 125px;
  height: 44px;
}
.sell {
  position: absolute;
  top: 11px;
  left: 49px;
  font-weight: 900;
}
.rectangle-parent1 {
  position: absolute;
  top: 267px;
  left: 430px;
  width: 125px;
  height: 44px;
  color: var(--color-black);
}
.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-yellow-200);
  width: 747px;
  height: 42px;
}
.advertiser,
.payment {
  position: absolute;
  top: 12px;
  left: 29px;
  letter-spacing: -0.06em;
  line-height: 150%;
}
.payment {
  left: 520px;
}
.trade {
  left: 655px;
}
.fee,
.limitavailable,
.price,
.trade {
  position: absolute;
  top: 12px;
  letter-spacing: -0.06em;
  line-height: 150%;
}
.fee {
  left: 694px;
  color: #3cd615;
}
.limitavailable,
.price {
  left: 323px;
}
.price {
  left: 172px;
}
.rectangle-parent2 {
  height: 42px;
}
.group-child4,
.group-wrapper,
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 747px;
}
.group-wrapper {
  height: 42px;
  color: var(--color-black);
}
.group-child4 {
  background-color: var(--color-black);
  height: 46px;
}
.available,
.inr,
.usdt {
  position: absolute;
  letter-spacing: -0.06em;
  line-height: 150%;
}
.inr {
  top: 13px;
  left: 168px;
  display: inline-block;
  width: 62px;
}
.available,
.usdt {
  top: 0;
  left: 0;
}
.usdt {
  top: 1px;
  left: 74px;
  color: var(--table-background);
}
.available-parent {
  position: absolute;
  top: 4px;
  left: 323px;
  width: 133px;
  height: 19px;
  color: var(--color-gray-600);
}
.imps,
.limit,
.rs {
  position: absolute;
  letter-spacing: -0.06em;
  line-height: 150%;
}
.imps {
  top: 12px;
  left: 535px;
  color: var(--color-mediumseagreen);
}
.limit,
.rs {
  top: 0;
  left: 49px;
}
.limit {
  left: 0;
  color: var(--color-gray-700);
}
.rs-parent {
  position: absolute;
  top: 26px;
  left: 323px;
  width: 115px;
  height: 18px;
}
.growth-more {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.06em;
  line-height: 150%;
  display: inline-block;
  width: 100px;
}
.growth-more-wrapper {
  position: absolute;
  top: 14px;
  left: 17px;
  width: 100px;
  height: 18px;
}
.group-child5,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 747px;
  height: 46px;
}
.group-child5 {
  border-radius: 11.85px;
  background-color: #cd2630;
  width: 82px;
  height: 25px;
}
.sell-usdt {
  position: absolute;
  top: 3px;
  left: 11px;
  letter-spacing: -0.06em;
  line-height: 150%;
  display: inline-block;
  width: 100px;
  height: 16.41px;
}
.rectangle-parent4 {
  position: absolute;
  top: 7px;
  left: 627px;
  width: 111px;
  height: 25px;
}
.available-group,
.group-container {
  position: absolute;
  top: 51px;
  left: 0;
  width: 747px;
  height: 46px;
}
.available-group {
  top: 4px;
  left: 323px;
  width: 146px;
  height: 19px;
  color: var(--color-gray-600);
}
.group-child7,
.rs-group {
  position: absolute;
  top: 26px;
  left: 323px;
  width: 154px;
  height: 18px;
}
.group-child7 {
  top: 0;
  left: 0;
  border-radius: 11.85px;
  background-color: var(--color-firebrick-100);
  width: 82px;
  height: 25px;
}
.group-parent1 {
  position: absolute;
  top: 105px;
  left: 0;
  width: 747px;
  height: 46px;
}
.rectangle-parent8 {
  position: absolute;
  top: 7px;
  left: 627px;
  width: 111px;
  height: 25px;
  cursor: pointer;
}
.coinfun,
.group-parent,
.group-parent2 {
  position: absolute;
  top: 157px;
  left: 0;
  width: 747px;
  height: 46px;
}
.coinfun,
.group-parent {
  top: 390px;
  left: 134px;
  height: 203px;
  font-size: var(--font-size-xs);
  font-family: var(--font-fira-code);
}
.coinfun {
  top: 109px;
  left: 736px;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.02em;
  display: inline-block;
  font-family: var(--font-ubuntu);
  color: var(--color-goldenrod);
  width: 256px;
  height: 34px;
}
.p2p-sell {
  position: relative;
  width: 100%;
  height: 875px;
  background-image: url(./public/p2p-sell@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--table-background);
  font-family: var(--font-roboto);
}

table {
  border-collapse: collapse;
  width: 80%;
  color: #16d54c;
  position: absolute;
  top: 380px;
  left: 100px;
  /* #margin-right: 50; */

}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: black;
}
th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  background-color: yellow;
  color: black;
}

tr:hover {
  background-color: #f5f5f5;
}
