<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/changepassword.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira Code:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="change-password">
      <div class="change-password-child"></div>
      <button class="rectangle-parent" autofocus id="groupButton">
        <button class="group-child" autofocus id="rectangleButton"></button>
        <div class="market">Market</div></button
      ><button class="rectangle-group" autofocus id="groupButton1">
        <div class="group-item"></div>
        <div class="p2p">P2P</div>
      </button>
      <div class="rectangle-container" id="groupContainer">
        <div class="group-inner"></div>
        <div class="logout">Logout</div>
      </div>
      <button class="group-button" autofocus id="groupButton2">
        <div class="rectangle-div"></div>
        <div class="dashboard">Dashboard</div></button
      ><button class="rectangle-parent1" autofocus id="groupButton3">
        <div class="group-child1"></div>
        <div class="submit">Submit</div></button
      ><b class="coinfun">Coinfun</b
      ><input
        class="change-password-item"
        type="password"
        placeholder="confirm new password"
        minlength="{8}"
        required
        id="confirm new password"
      /><input
        class="change-password-inner"
        type="password"
        defaultvalue="new password"
        placeholder="new password"
        minlength="{-8}"
        required
        id="new password"
      /><input
        class="rectangle-input"
        type="password"
        defaultvalue="current password"
        placeholder="current password"
        minlength="{8}"
        required
        id="current password"
      />
      <div class="enter-current-password">Enter Current Password</div>
      <div class="enter-new-password">Enter New Password</div>
      <div class="confirm-new-password">Confirm New Password</div>
    </div>

    <script>
      var rectangleButton = document.getElementById("rectangleButton");
      if (rectangleButton) {
        rectangleButton.addEventListener("click", function (e) {
          window.location.href = "./all-cryptos.html";
        });
      }
      
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "./all-cryptos.html";
        });
      }
      
      var groupButton1 = document.getElementById("groupButton1");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "./p2-p-buy.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./frame-1.html";
        });
      }
      
      var groupButton2 = document.getElementById("groupButton2");
      if (groupButton2) {
        groupButton2.addEventListener("click", function (e) {
          // Please sync "dashboard" to the project
        });
      }
      
      var groupButton3 = document.getElementById("groupButton3");
      if (groupButton3) {
        groupButton3.addEventListener("click", function (e) {
          // Please sync "dashboard" to the project
        });
      }
      </script>
  </body>
</html>
