<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/css/market_fav.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira Code:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="favourites">
      <div class="favourites-child"></div>
      <div class="rectangle-parent9">
        <div class="group-child10"></div>
        <div class="market1">Market</div>
      </div>
      <button class="rectangle-parent10" autofocus id="p2p_buy">
        <div class="group-child11"></div>
        <div class="p2p2">P2P</div>
      </button>
      <div class="rectangle-parent11" id="logout">
        <div class="group-child12"></div>
        <div class="logout1">Logout</div>
      </div>
      <button class="rectangle-parent12" autofocus id="dashboard">
        <div class="group-child13"></div>
        <div class="dashboard1">Dashboard</div>
      </button>
      <div class="table">
        <div class="tablerowdefault">
          <div class="tablecell">
            <div class="tablecell1">
              <img class="tablecell-child" alt="" src="./public/frame-2.svg" />
              <div class="content"><b class="name">Name</b></div>
            </div>
          </div>
          <div class="tablecell2">
            <div class="tablecell1">
              <img class="tablecell-child" alt="" src="./public/frame-21.svg" />
              <div class="content"><b class="name">Amount</b></div>
            </div>
          </div>
          <div class="tablecell4">
            <div class="tablecell1">
              <img class="tablecell-child" alt="" src="./public/frame-22.svg" />
              <div class="content"><b class="name">Price</b></div>
            </div>
          </div>
          <div class="tablecell4">
            <div class="tablecell1">
              <img class="frame-icon" alt="" src="./public/frame-22.svg" />
              <div class="content">
                <b class="name">Estimated Balance (Amount*Price)</b>
              </div>
            </div>
          </div>
          <img class="ignore-icon" alt="" src="./public/ignore.svg" />
        </div>
        <div class="tablerowdefault">
          <div class="tablecell8">
            <img class="frame-icon" alt="" src="./public/frame-2.svg" />
            <div class="content"><div class="name">BTC</div></div>
          </div>
          <div class="tablecell9">
            <img class="frame-icon" alt="" src="./public/frame-21.svg" />
            <div class="content"><div class="name">0.2</div></div>
          </div>
          <div class="tablecell10">
            <img class="frame-icon" alt="" src="./public/frame-22.svg" />
            <div class="content"><div class="name">22000 $</div></div>
          </div>
          <div class="tablecell10">
            <img class="frame-icon" alt="" src="./public/frame-22.svg" />
            <div class="content"><div class="name">4400 $</div></div>
          </div>
          <img class="ignore-icon" alt="" src="./public/frame-1.svg" />
        </div>
        <div class="tablerowdefault">
          <div class="tablecell8">
            <img class="frame-icon" alt="" src="./public/frame-2.svg" />
            <div class="content"><div class="name">ETH</div></div>
          </div>
          <div class="tablecell9">
            <img class="frame-icon" alt="" src="./public/frame-21.svg" />
            <div class="content"><div class="name">0.5</div></div>
          </div>
          <div class="tablecell10">
            <img class="frame-icon" alt="" src="./public/frame-22.svg" />
            <div class="content"><div class="name">1500 $</div></div>
          </div>
          <div class="tablecell10">
            <img class="frame-icon" alt="" src="./public/frame-22.svg" />
            <div class="content"><div class="name">750 $</div></div>
          </div>
          <img class="ignore-icon" alt="" src="./public/frame-1.svg" />
        </div>
        <div class="tablerowdefault">
          <div class="tablecell8">
            <img class="frame-icon" alt="" src="./public/frame-2.svg" />
            <div class="content"><div class="name">LIT</div></div>
          </div>
          <div class="tablecell9">
            <img class="frame-icon" alt="" src="./public/frame-21.svg" />
            <div class="content"><div class="name">20.1</div></div>
          </div>
          <div class="tablecell10">
            <img class="frame-icon" alt="" src="./public/frame-22.svg" />
            <div class="content"><div class="name">1 $</div></div>
          </div>
          <div class="tablecell10">
            <img class="frame-icon" alt="" src="./public/frame-22.svg" />
            <div class="content"><div class="name">20.1 $</div></div>
          </div>
          <img class="ignore-icon" alt="" src="./public/frame-1.svg" />
        </div>
        <img class="ignore-icon1" alt="" src="./public/ignore1.svg" />
      </div>
      <div class="rectangle-parent13">
        <div class="group-child14"></div>
        <div class="markets-overview">Markets OverView</div>
      </div>
      <div class="favourites-inner">
        <div class="rectangle-parent14">
          <div class="group-child15"></div>
          <img class="image-6-icon" alt="" src="/static/images/non_fav.png" />
          <div class="favorites">Favorites</div>
        </div>
      </div>
      <div class="favourites-inner1" id="groupContainer6">
        <div class="rectangle-parent15">
          <div class="group-child16"></div>
          <div class="all-cryptos">All Cryptos</div>
        </div>
      </div>
      <div class="group-parent3">
        <div class="group-frame">
          <div class="rectangle-parent16">
            <div class="group-child17"></div>
            <b class="name1">Name</b><b class="h-volume">24h Volume</b
            ><b class="market-cap">Market Cap</b
            ><b class="h-change">24h Change</b><b class="price1">Price</b>
          </div>
        </div>
        <div class="rectangle-parent17">
          <div class="group-child18"></div>
          <b class="b">$1,664.73</b><b class="b1">+4.98</b
          ><b class="m">14,127.5M</b>
          <div class="eth-parent">
            <b class="eth">ETH</b
            ><img
              class="image-4-icon"
              alt=""
              src="/static/images/non_fav.png"
            /><img class="star-icon" alt="" src="/static/images/etherum.png" /><b
              class="etherum"
              >Etherum</b
            >
          </div>
          <b class="m1">$2,03,755.4M</b>
        </div>
        <div class="rectangle-parent18">
          <div class="group-child19"></div>
          <b class="b2">$1.0</b><b class="b3">-0.13</b><b class="m2">68,536M</b
          ><b class="m3">$72,899M</b>
          <div class="xrp-parent">
            <b class="xrp">BNB</b
            ><img
              class="image-7-icon"
              alt=""
              src="/static/images/non_fav.png"
            /><img class="group-child20" alt="" src="/static/images/BNB.png" /><b
              class="ripple"
              >Ripple</b
            >
          </div>
        </div>
      </div>
      <b class="coinfun1">Coinfun</b>
    </div>

    <script>
      var groupButton = document.getElementById("logout");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          // Please sync "P2P Buy" to the project
          window.location.href = "/login";
        });
      }
      
      var groupContainer1 = document.getElementById("dashboard");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "/";
          // Please sync "login" to the project
        });
      }
      
      var groupButton1 = document.getElementById("p2p_buy");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "./p2p_buy";
        });
      }
      
      
      </script>
  </body>
</html>
