<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/resetpassword.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira Code:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="reset-password">
      <div class="keyboard-backspace" id="keyboardBackspaceContainer">
        <img class="vector-icon" alt="" src="./public/vector.svg" />
      </div>
      <img class="illustration-icon" alt="" src="./public/illustration.svg" />
      <div class="forgot-password-heading">
        <div class="reset-your-password">Reset your password</div>
      </div>
      <div class="forgot-password-body">
        <div class="heres-a-tip">
          Here’s a tip: Use a combination of Numbers, Uppercase, lowercase and
          Special characters
        </div>
      </div>
      <div class="group-a">
        <div class="new-password">new password</div>
        <input
          class="group-a-child"
          type="password"
          minlength="{8}"
          required
          id="password"
        />
      </div>
      <div class="group-b">
        <div class="new-password1">confirm new password</div>
        <input class="group-b-child" type="password" required id="password" />
      </div>
      <div class="strength-indicator">
        <div class="strength-indicator-child"></div>
        <div class="strength-indicator-child"></div>
        <div class="strength-indicator-child"></div>
      </div>
      <div class="button-crypto-wrapper" id="frameContainer">
        <button class="button-crypto" autofocus id="buttonCrypto">
          <button class="button-crypto1" autofocus id="buttonCrypto1">
            <div class="label-text">Reset Password</div>
            <img class="vector-icon1" alt="" src="./public/vector1.svg" />
          </button>
        </button>
      </div>
    </div>

    <script>
      var keyboardBackspaceContainer = document.getElementById(
        "keyboardBackspaceContainer"
      );
      if (keyboardBackspaceContainer) {
        keyboardBackspaceContainer.addEventListener("click", function (e) {
          // Please sync "Forgot password otp" to the project
        });
      }
      
      var buttonCrypto1 = document.getElementById("buttonCrypto1");
      if (buttonCrypto1) {
        buttonCrypto1.addEventListener("click", function (e) {
          // Please sync "Forgot password reset successful" to the project
        });
      }
      
      var buttonCrypto = document.getElementById("buttonCrypto");
      if (buttonCrypto) {
        buttonCrypto.addEventListener("click", function (e) {
          // Please sync "Forgot password reset successful" to the project
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          // Please sync "Forgot password reset successful" to the project
        });
      }
      </script>
  </body>
</html>
