<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Transaction History</title>
    <meta name="description" content="Transaction-history" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/transaction.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira Code:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="transcation-history">
      <div class="transcation-history-child"></div>
      <button class="rectangle-parent30" autofocus id="groupButton">
        <div class="group-child31"></div>
        <div class="market3">Market</div></button
      ><button class="rectangle-parent31" autofocus id="groupButton1">
        <div class="group-child32"></div>
        <div class="p2p4">P2P</div>
      </button>
      <div class="rectangle-parent32" id="groupContainer">
        <div class="group-child33"></div>
        <div class="logout3">Logout</div>
      </div>
      <button class="rectangle-parent33" autofocus id="groupButton2">
        <div class="group-child34"></div>
        <div class="dashboard4">Dashboard</div></button
      ><button class="rectangle-parent34" autofocus>
        <button class="group-child35"></button>
        <div class="your-transaction-history">Your Transaction History</div>
      </button>
      <div class="table1">
        <div class="tablerowdefault4">
          <div class="tablecell20">
            <div class="tablecell21">
              <img
                class="tablecell-child13"
                alt=""
                src="./public/frame-2.svg"
              />
              <div class="content16"><b class="name3">Date/Time</b></div>
            </div>
          </div>
          <div class="tablecell20">
            <div class="tablecell21">
              <img
                class="tablecell-child13"
                alt=""
                src="./public/frame-2.svg"
              />
              <div class="content16"><b class="name3">Order ID</b></div>
            </div>
          </div>
          <div class="tablecell20">
            <div class="tablecell21">
              <img
                class="tablecell-child13"
                alt=""
                src="./public/frame-2.svg"
              />
              <div class="content16"><b class="name3">Order Type</b></div>
            </div>
          </div>
          <div class="tablecell20">
            <div class="tablecell21">
              <img
                class="tablecell-child13"
                alt=""
                src="./public/frame-2.svg"
              />
              <div class="content16"><b class="name3">Client</b></div>
            </div>
          </div>
          <div class="tablecell28">
            <div class="tablecell21">
              <img
                class="tablecell-child13"
                alt=""
                src="./public/frame-21.svg"
              />
              <div class="content16"><b class="name3">Amount(USDT)</b></div>
            </div>
          </div>
          <div class="tablecell30">
            <div class="tablecell21">
              <img
                class="tablecell-child13"
                alt=""
                src="./public/frame-22.svg"
              />
              <div class="content16"><b class="name3">Price</b></div>
            </div>
          </div>
          <div class="tablecell30">
            <div class="tablecell21">
              <img
                class="tablecell-child13"
                alt=""
                src="./public/frame-22.svg"
              />
              <div class="content16">
                <b class="name3">Net Balance (Amount*Price)</b>
              </div>
            </div>
          </div>
          <img class="ignore-icon2" alt="" src="./public/ignore.svg" />
        </div>
        <div class="tablerowdefault4">
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16"><div class="name3">10 March 2023</div></div>
          </div>
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16"><div class="name3">0</div></div>
          </div>
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16"><div class="name3">Buy</div></div>
          </div>
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16">
              <div class="name3">
                <p class="vikku">Vikash,</p>
                <p class="vikash89gmailcom">vikash89@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="tablecell38">
            <img class="tablecell-child13" alt="" src="./public/frame-21.svg" />
            <div class="content16"><div class="name3">0.2 $</div></div>
          </div>
          <div class="tablecell39">
            <img class="tablecell-child13" alt="" src="./public/frame-22.svg" />
            <div class="content16"><div class="name3">81 Rs</div></div>
          </div>
          <div class="tablecell39">
            <img class="tablecell-child13" alt="" src="./public/frame-22.svg" />
            <div class="content16"><div class="name3">16.2 Rs</div></div>
          </div>
          <img class="ignore-icon2" alt="" src="./public/frame-11.svg" />
        </div>
        <div class="tablerowdefault4">
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16"><div class="name3">10 March 2023</div></div>
          </div>
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16"><div class="name3">1</div></div>
          </div>
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16"><div class="name3">Sell</div></div>
          </div>
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16">
              <div class="name3">
                <p class="vikku">Vikku,</p>
                <p class="vikash89gmailcom">vikku7781@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="tablecell38">
            <img class="tablecell-child13" alt="" src="./public/frame-21.svg" />
            <div class="content16"><div class="name3">0.5 $</div></div>
          </div>
          <div class="tablecell39">
            <img class="tablecell-child13" alt="" src="./public/frame-22.svg" />
            <div class="content16"><div class="name3">81 Rs</div></div>
          </div>
          <div class="tablecell39">
            <img class="tablecell-child13" alt="" src="./public/frame-22.svg" />
            <div class="content16"><div class="name3">40.5 Rs</div></div>
          </div>
          <img class="ignore-icon2" alt="" src="./public/frame-11.svg" />
        </div>
        <div class="tablerowdefault4">
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16"><div class="name3">10 March 2023</div></div>
          </div>
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16"><div class="name3">2</div></div>
          </div>
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16"><div class="name3">Buy</div></div>
          </div>
          <div class="tablecell34">
            <img class="tablecell-child13" alt="" src="./public/frame-2.svg" />
            <div class="content16">
              <div class="name3">
                <p class="vikku">Vikky,</p>
                <p class="vikash89gmailcom">vikky2003@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="tablecell38">
            <img class="tablecell-child13" alt="" src="./public/frame-21.svg" />
            <div class="content16"><div class="name3">20.1 $</div></div>
          </div>
          <div class="tablecell39">
            <img class="tablecell-child13" alt="" src="./public/frame-22.svg" />
            <div class="content16"><div class="name3">81 Rs</div></div>
          </div>
          <div class="tablecell39">
            <img class="tablecell-child13" alt="" src="./public/frame-22.svg" />
            <div class="content16"><div class="name3">1628.1 Rs</div></div>
          </div>
          <img class="ignore-icon2" alt="" src="./public/frame-11.svg" />
        </div>
        <img class="ignore-icon3" alt="" src="./public/ignore2.svg" />
      </div>
      <b class="coinfun3">Coinfun</b>
    </div>

    <script>
      var groupButton = document.getElementById("logout");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          // Please sync "All Cryptos" to the project
          window.location.href = "/login";
        });
      }
      
      var groupButton1 = document.getElementById("p2p");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          // Please sync "P2P Buy" to the project
          window.location.href = "./p2p_buy";
        });
      }
      
      var groupContainer = document.getElementById("market");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "login" to the project
          window.location.href = "/market_allcrypto";
        });
      }
      
      var groupButton2 = document.getElementById("dashboard");
      if (groupButton2) {
        groupButton2.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      </script>
  </body>
</html>
