.vector-icon {
    position: relative;
    width: 18px;
    height: 12px;
    flex-shrink: 0;
  }
  .keyboard-backspace {
    align-self: stretch;
    height: 24px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-7xs) var(--padding-10xs);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
  }
  .illustration-icon {
    position: relative;
    width: 163.48px;
    height: 163.48px;
    flex-shrink: 0;
  }
  .check-your-mail {
    position: relative;
    font-weight: 600;
  }
  .forgot-password-heading {
    width: 216px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-xl) var(--padding-xl) 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: var(--subheading-size);
  }
  .forgot-password-body,
  .we-just-sent {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .we-just-sent {
    position: relative;
    width: 300px;
    height: 47px;
  }
  .forgot-password-body {
    align-self: stretch;
    height: 60px;
    flex-direction: column;
    padding: 0 var(--padding-xl) 18px;
    box-sizing: border-box;
  }
  .forgot-password-otp-child {
    border: 1px solid var(--color-gray-900);
    background-color: var(--table-background);
    position: relative;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    width: 209px;
    height: 34px;
    flex-shrink: 0;
  }
  .div {
    position: relative;
    opacity: 0.6;
  }
  .didnt-get-a {
    font-family: var(--button-text-crypto-filled);
  }
  .didnt-get-a-container {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    font-size: var(--button-text-crypto-filled-size);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    width: 330px;
  }
  .forgot-password-body1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 0 0 var(--padding-9xs);
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
  }
  .label-text {
    position: relative;
    font-size: var(--button-text-crypto-filled-size);
    font-weight: 500;
    font-family: var(--button-text-crypto-filled);
    color: var(--color-whitesmoke);
    text-align: center;
  }
  .vector-icon1 {
    position: relative;
    width: 18px;
    height: 12px;
    flex-shrink: 0;
    display: none;
  }
  .button-crypto1 {
    border: 0;
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--primary-crypto);
    align-self: stretch;
    border-radius: var(--br-81xl);
    height: 50px;
    flex-shrink: 0;
    overflow: hidden;
    flex-direction: row;
    box-sizing: border-box;
    gap: var(--gap-xl);
  }
  .button-crypto,
  .button-crypto-wrapper,
  .button-crypto1 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .button-crypto {
    border: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: 0 5px 25px rgba(47, 128, 237, 0.2);
    width: 330px;
    flex-shrink: 0;
    flex-direction: column;
  }
  .button-crypto-wrapper {
    flex-direction: row;
    padding: var(--padding-11xl) 0 0;
  }
  .forgot-password-otp {
    position: relative;
    border-radius: var(--br-xs);
    width: 100%;
    height: 803px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-11xl) var(--padding-mini) var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xl);
    background-image: url(./public/forgot-password-otp@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-size: var(--button-text-crypto-filled-size);
    color: var(--color-black);
    font-family: var(--button-text-crypto-filled);
  }
  