.vector-icon {
    position: relative;
    width: 18px;
    height: 12px;
    flex-shrink: 0;
  }
  .keyboard-backspace {
    align-self: stretch;
    height: 24px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-7xs) 3px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
  }
  .illustration-icon {
    position: relative;
    width: 163.48px;
    height: 163.48px;
    flex-shrink: 0;
  }
  .forgot-password {
    position: relative;
    font-weight: 600;
  }
  .forgot-password-heading {
    width: 216px;
    flex-direction: column;
    padding: var(--padding-xl) var(--padding-xl) 0;
    box-sizing: border-box;
    font-size: var(--subheading-size);
  }
  .enter-your-registered,
  .forgot-password-body,
  .forgot-password-heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .enter-your-registered {
    position: relative;
    width: 300px;
    height: 45px;
    flex-shrink: 0;
  }
  .forgot-password-body {
    align-self: stretch;
    flex-direction: column;
    padding: 0 var(--padding-xl) var(--padding-xl);
    text-align: center;
  }
  .email-id {
    position: absolute;
    top: 0;
    left: 25.53px;
    font-weight: 500;
    display: inline-block;
    width: 86.25px;
    height: 15.14px;
  }
  .group-child {
    border: 1px solid var(--color-gray-900);
    background-color: var(--table-background);
    position: absolute;
    top: 26.85px;
    left: 0;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    width: 400px;
    height: 33.64px;
  }
  .email-id-parent {
    position: relative;
    width: 400px;
    height: 60.48px;
    flex-shrink: 0;
    font-family: var(--font-roboto);
  }
  .label-text {
    position: relative;
    font-size: var(--button-text-crypto-filled-size);
    font-weight: 500;
    font-family: var(--button-text-crypto-filled);
    color: #f8f8f8;
    text-align: center;
  }
  .button-crypto {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--primary-crypto);
    border-radius: 100px;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
  }
  .button-crypto-region {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: 0 5px 25px rgba(47, 128, 237, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-crypto-region-wrapper {
    width: 322px;
    height: 123px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: 70px 0 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .forgot-password-email-reset {
    position: relative;
    border-radius: 12px;
    width: 100%;
    height: 803px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 30px 15px var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xl);
    background-image: url(./public/forgot-password-email-reset@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--button-text-crypto-filled-size);
    color: var(--color-black);
    font-family: var(--button-text-crypto-filled);
  }
  