.vector-icon {
    position: relative;
    width: 18px;
    height: 12px;
    flex-shrink: 0;
  }
  .keyboard-backspace {
    align-self: stretch;
    height: 24px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-7xs) var(--padding-10xs);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
  }
  .illustration-icon {
    position: relative;
    width: 163.48px;
    height: 163.48px;
    flex-shrink: 0;
  }
  .reset-successful {
    position: relative;
    font-weight: 600;
  }
  .forgot-password-heading,
  .you-can-now {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forgot-password-heading {
    width: 216px;
    flex-direction: column;
    padding: var(--padding-xl) var(--padding-xl) 0;
    box-sizing: border-box;
  }
  .you-can-now {
    position: relative;
    line-height: 20px;
    width: 300px;
  }
  .forgot-password-body,
  .label-text {
    font-size: var(--button-text-crypto-filled-size);
    text-align: center;
  }
  .forgot-password-body {
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-xl) var(--padding-xl);
    align-items: center;
    justify-content: center;
  }
  .label-text {
    position: relative;
    font-weight: 500;
    font-family: var(--button-text-crypto-filled);
    color: var(--primary-crypto);
  }
  .button-crypto,
  .button-crypto1 {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    display: flex;
  }
  .button-crypto1 {
    padding: var(--padding-3xs) var(--padding-xl);
    border-radius: var(--br-81xl);
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    overflow: hidden;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
  }
  .button-crypto {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-crypto-wrapper {
    display: flex;
    flex-direction: row;
    padding: 166px 0 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .forgot-password-reset-successf {
    position: relative;
    border-radius: var(--br-xs);
    width: 100%;
    height: 803px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-11xl) var(--padding-mini) var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xl);
    background-image: url(./public/forgot-password-reset-successful@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--subheading-size);
    color: var(--color-black);
    font-family: var(--button-text-crypto-filled);
  }
  