{% extends 'base.html' %}
{% block title %}
  change-password
{% endblock title %}

{% block link %}
rel="stylesheet" href="{{ url_for('static',filename='css/changepassword.css') }}"
{% endblock link %}
<!-- {{ url_for('static',filename='styles/user.css') }} -->
{%block body %}

    <form action="/change_password" method="POST"  style="align-items: center;">
      <label for="password">Enter Current Password</label>
      <input type="password" id="password" name="password" required>
      <label for="new_password">Enter New Password</label>
      <input type="password" id="new_password" name="new_password" required>
      <label for="confirm_new_password">Confirm New Password</label>
      <input type="password" id="confirm_new_password" name="confirm_new_password" required>
      <input type="submit" value="Submit" >
    </form>

    {% if msg|length > 0 %}
      <div id="msg" class="msg">
        <h1>{{ msg }}</h1>
      </div>
    {% endif %}

    <script>
      function showMessage(message, duration) {
      var messageElement = document.getElementById("msg");
      if (messageElement != null){
        messageElement.innerHTML = message;
        messageElement.style.display = "block";
        setTimeout(function() {
            messageElement.style.display = "none";
        }, duration);
      }
      }
      // messageElement.innerHTML = message;
      // messageElement.style.display = "block";
      // setTimeout(function() {
      //     messageElement.style.display = "none";
      // }, duration);
      // }
      var message = "{{msg}}";
      showMessage(message, 5000);


      var rectangleButton = document.getElementById("market");
      if (rectangleButton) {
        rectangleButton.addEventListener("click", function (e) {
          window.location.href = "/market_allcrypto";
        });
      }
      
      var groupButton = document.getElementById("p2p_buy");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "/p2p_buy";
        });
      }
      
      var groupButton1 = document.getElementById("logout");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var groupContainer = document.getElementById("dashboard");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          console.log("Button clicked");
          window.location.href = "/dashboard";
        });
      }
      
      
    </script>
{% endblock body %}