<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/forgotpasswordemailreset.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira Code:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="forgot-password-email-reset">
      <div class="keyboard-backspace" id="keyboardBackspaceContainer">
        <img class="vector-icon" alt="" src="/frontend/static/images/backbutton.png" />
      </div>
      <img class="illustration-icon" alt="" src="/frontend/static/images/pic2.png" />
      <div class="forgot-password-heading">
        <div class="forgot-password">Forgot Password?</div>
      </div>
      <div class="forgot-password-body">
        <div class="enter-your-registered">
          Enter Your registered email
        </div>
      </div>
      <div class="email-id-parent">
        <div class="email-id">Email Id</div>
        <input class="group-child" type="email" required id="Email" />
      </div>
      <div class="button-crypto-region-wrapper">
        <button class="button-crypto-region" autofocus id="buttonCryptoRegion">
          <button class="button-crypto" autofocus id="buttonCrypto">
            <div class="label-text">Continue</div>
            <img class="vector-icon" alt="" src="/frontend/static/images/arrow.png" />
          </button>
        </button>
      </div>
    </div>

    <script>
      var keyboardBackspaceContainer = document.getElementById(
        "keyboardBackspaceContainer"
      );
      if (keyboardBackspaceContainer) {
        keyboardBackspaceContainer.addEventListener("click", function (e) {
          window.location.href = "./frame-1.html";
        });
      }
      
      var buttonCrypto = document.getElementById("buttonCrypto");
      if (buttonCrypto) {
        buttonCrypto.addEventListener("click", function (e) {
          // Please sync "Forgot password otp" to the project
        });
      }
      
      var buttonCryptoRegion = document.getElementById("buttonCryptoRegion");
      if (buttonCryptoRegion) {
        buttonCryptoRegion.addEventListener("click", function (e) {
          // Please sync "Forgot password otp" to the project
        });
      }
      </script>
  </body>
</html>
