<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-sm-12">
        <h1>Change Password</h1>
        </div>
        </div>
        <div class="row" style="transform: translate(0px, 100px);">
        <div class="col-sm-6 col-sm-offset-3">
        <p class="text-center">Use the form below to change your password</p>
        <form method="post" id="passwordForm" action="/reset_password">
            <input type="password" class="input-lg form-control" name="new_password" id="new_password" placeholder="Enter your new Password" autocomplete="off">
            <div class="row">
            <div class="col-sm-6">
            <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
            <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
            </div>
            <div class="col-sm-6">
            <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
            <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
            </div>
            </div>
            <input type="password" class="input-lg form-control" style=" position: absolute; top: 150px;" name="confirm_new_password" id="confirm_new_password" placeholder="Enter new password again" autocomplete="off">
            <div class="row" style=" position: absolute; top: 200px;">
            <div class="col-sm-12" >
            <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004; "></span> Passwords Match
            </div>
            </div>
            <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" style=" position: absolute; top: 250px;" data-loading-text="Changing Password..." value="Change Password">
        </form>
        </div><!--/col-sm-6-->
        </div><!--/row-->
    </div>
    
</body>
</html>


